    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Start</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
        <h1>Trinkflaschen Verwaltungsprogramm</h1>
        <div>
            <a href="/trink/save">Trinkflasche Speichern</a>
        </div>
        <div>
            <a href="/trink/list">Trinkflaschen Liste</a>
        </div>
    </body>
    </html>